<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>体验</title>
    <script src="js/vue.js"></script>
    <style>
         .box{
             width: 300px;
             height: 300px;
             background-color:red;
         }
    </style>
</head>
<body>
    <div id="app">
     <h1>{{title}}</h1>
     <input type="text" v-model="title">
     <ul>
        <li v-for="item in users">{{item}} </li>
     </ul>

     <div class="box" v-if="show"></div>
     <button v-on:click="show =!show">切换显示状态</button>
    </div>
</body>
<script>
    const vm = new Vue({
        el:"#app",
        //el:document.getElementById("app")
        data:{
            title:"这是一个标题",
            users:["张三","李四","王五"],
            show:true
        }
    });
   
</script>
</html>
