<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>体验</title>
    <script src="js/vue.js"></script>
    <style>
         .box{
             width: 300px;
             height: 300px;
             background-color:red;
         }
    </style>
</head>
<body>
    <div id="app">
    <h1>{{title}}</h1>
    <!--
        v-model="表达式"
        表达式可以是实例里面的data也可以是methods
        Vue默认双向绑定只支持表单元素
    -->
    <!--
        v-for="表达式"
    -->
    <input type="text" v-model="title">
    {{checkbox}}
    <input type="checkbox" v-model="checkbox">
    {{text}}
    <textarea v-model="text"></textarea>


   <!-- <ul>
        <li v-for="(a,index) in users">
           <span>{{a.name}}</span>
           <span>{{a.age}}</span>
           <span>{{a.sex}}</span>
           <button v-on:click="del(a,index,$event)">删除</button>
           <ul>
               <li v-for="child in a.children">
                <span>{{child.name}}</span>
                <span>{{child.age}}</span>
                <span>{{child.sex}}</span>
               </li>
           </ul>
        </li>
    </ul>-->
    
   <!--  <div class="box" v-if="show"></div>
    <button v-on:click="show=!show">切换</button> -->

    <!-- <div v-bind:index="show"></div> -->
    <!-- <div v-text="title"></div> -->
    <!-- 
        v-text="" 相当于innertext
        v-html="" 相当于innerHTML
     -->
     <div v-html="html">
         <!-- {{html}} -->
     </div>

    </div>
</body>
<script>
   const vm =new Vue({
       el:"#app",//el选项用来把当前实例挂载到dom元素上
       data:{
           //提供实例模板需要的数据
           title:"标题",
           show:"true",
           html:"<h1>呵呵</h1>",
           checkbox:"true",
           text:"text1",
           
           users:[
               {
                   name:"张三",
                   age:"20",
                   sex:"男",
                   children:[
                       {
                           name:"小弟1",
                           age:"20",
                           sex:"男"
                       },
                       {
                           name:"小弟2",
                           age:"20",
                           sex:"男"
                       },
                       {
                           name:"小弟3",
                           age:"20",
                           sex:"男"
                       }
                   ]
               },
               {
                name:"李四",
                   age:"20",
                   sex:"男" ,
                   children:[
                       {
                           name:"小弟1",
                           age:"20",
                           sex:"男"
                       },
                       {
                           name:"小弟2",
                           age:"20",
                           sex:"男"
                       },
                       {
                           name:"小弟3",
                           age:"20",
                           sex:"男"
                       }
                   ]
               },
               {
                name:"老王",
                   age:"20",
                   sex:"男" 
               }

           ]
       },
       methods:{
           //提供实例模板需要的方法
           del(a,index){
               console.log(e)
              //console.log(a,index);
              this.users.splice(index,1)
           }
          
       }
   })
</script>
</html>
